<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="1" name="viewport">
    <title>Synchronization system</title>
    <link rel="icon" type="image/png" href="images/forklift.png"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 25%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            border: 2px solid #dddddd;
            text-align: left;
            font-weight: bold;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #edf7f7;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>System synchronizacji współpracy wielu wózków</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <td>Region</td>
            <td>Forklift ID</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="region : ${regions}">
            <td th:text="${region.id}">id</td>
            <td th:text="${region.forkliftSerialNumber}">forkliftSerialNumber</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>